@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,700);


.container-about {
    width: 40%;
    display: flex;
    justify-content: start;
    background-color: #00000079;
    backdrop-filter: blur(5px);
    
}



.about-text {
    font-family: 'Raleway', Arial, sans-serif;
    width: 100%;
    color: #fff;
    padding: 20px;
    
}

.about-text h1 {
    padding-top: 15px;
}

.master-container {
    display: flex;
    justify-content: center;
    margin-top: 200px;

}

.container-skills {
    width: 15%;
    display: flex;
    flex-wrap: wrap;
    margin-left: 0;
    font-family: 'Raleway', Arial, sans-serif;

}

.container1 {
    width: 100%;
    height: 60%;
    background-color: #0000007c;
    backdrop-filter: blur(5px);
    border: solid 1px #00917b7d;
    border-bottom: none;
    color:#fff;
    border-top: none;
    border-right: none;
}

.container1 h2 {
    padding: 10px;
}

.container1 p {
    font-size: 12px;
    font-weight: bold;
}

.container2 {
    width: 100%;
    height: 40%;
    background-color: #0000007c;
    backdrop-filter: blur(5px);
    border: solid 1px #00917b7d;
    border-bottom: none;
    border-right: none;
}

.subcontainer-skills {
    display: flex;
    flex-wrap: wrap;
}

.cont-grey {
    padding: 5px;
    background-color: #00917c;
    margin-left: 10px;
    margin-top: 10px;
    border-radius: 5px;
    min-width: 50px;
    color: #000;
    text-align: center;
}

.links-about {
    
    display: flex;
    justify-content: start;
    margin:auto;
    height: 40px;
    align-items: center;
    width: 55%;
    background-color: #0000007c;
    border-top: solid 1px #00917b7d;
    font-family: 'Raleway', Arial, sans-serif;
    color: #fff;
    font-size: 14px;
    padding-left: 20px;
    margin-bottom: 100px;
    backdrop-filter: blur(5px);
}



.links-about span {
    margin-left: 50px;
    margin-right: 50px;
}

.ico {
    width: 30px;
    height: 20px;
    color: #00917c;
}



@media (max-width: 600px) {

    .container-about {
        width: 70%;
    }

    .container-about h1 {
        font-size: 26px;
    }

    .container-about p {
        font-size: 12px;
    }

    .container1 {
        text-align: center;
    }

    .subcontainer-skills {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .container1 h2 {
        text-align: center;
        font-size: 10px;
        margin-top: 21px;
    }

    .container1 p {
        font-size: 8px;
        
    }

    .cont-grey {
        padding: 2px;
        background-color: #00917c;
        margin-left: auto;
        margin-right: auto;
        margin-top: 5px;
        border-radius: 5px;
        min-width: 30px;
        color: #000;
        text-align: center;
    }

    .links-about {
        width: 85%;
    }


}

